# Based to Authentic Car Names V3 created by Vermilllion with improvements from adyboy1, CB33, SterlingC32, SandMartin, Andrakann, Fandom WiKi, TK3R
# Data retained from QoLmod by Meitzi, file version 3.4

[[Car]]
CarID = "car_atom330"
CarBrand = "tesla"
CarName = "Tesla Model 3"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_atomrenton"
CarBrand = "tesla"
CarName = "Tesla Roadster"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_autotuttolavetino"
CarBrand = "yamaha"
CarName = "Yamaha EV Concept" #previously Alfa Romeo 4C Spider 'Electric'
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_boltatlanta"
CarBrand = "chevrolet"
CarName = "Chevrolet El Camino"
CarConfigSuffix = [ "", "Offroad", "Deluxe", "Supercharged", ]

[[Car]]
CarID = "car_boltcape"
CarBrand = "chevrolet"
CarName = "Chevrolet Bel Air"
CarConfigSuffix = [ "", "Turbo-Thrift", "Supercharged", "Drag Build", ]

[[Car]]
CarID = "car_boltcapemk7"
CarBrand = "chevrolet"
CarName = "Chevrolet Impala (Mk7)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_boltcargo"
CarBrand = "gmc"
CarName = "GMC Vandura"
CarConfigSuffix = [ "", "A-Team", ]

[[Car]]
CarID = "car_boltchapman"
CarBrand = "chevrolet"
CarName = "Chevrolet Impala"
CarConfigSuffix = [ "250 I6", "350 V8", ]

[[Car]]
CarID = "car_bolthornet"
CarBrand = "chevrolet"
CarName = "Chevrolet Camaro Z/28"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_bolthorngrandmojave"
CarBrand = "jeep"
CarName = "Jeep Grand Cherokee"
CarConfigSuffix = [ "", "SRT-8", ]

[[Car]]
CarID = "car_boltmosquito"
CarBrand = "chevrolet"
CarName = "Chevrolet Camaro (Mk5)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_boltmosquito2016"
CarBrand = "chevrolet"
CarName = "Chevrolet Camaro (Mk6)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_boltreptilia"
CarBrand = "chevrolet"
CarName = "Chevrolet Corvette C3"
CarConfigSuffix = [ "", "454", "454s", ]

[[Car]]
CarID = "car_boltreptiliar2"
CarBrand = "chevrolet"
CarName = "Chevrolet Corvette C4"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_boltrollett"
CarBrand = "chevrolet"
CarName = "Chevrolet Camaro (Mk2)"
CarConfigSuffix = [ "", "Straight-6", ]

[[Car]]
CarID = "car_boltsupernova"
CarBrand = "chevrolet"
CarName = "Chevrolet Nova"
CarConfigSuffix = [ "SS", "Drag Build", ]

[[Car]]
CarID = "car_castoravalanche"
CarBrand = "landrover"
CarName = "Range Rover Evoque"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_chieftainbandit"
CarBrand = "pontiac"
CarName = "Pontiac Firebird Trans-Am"
CarConfigSuffix = [ "", "Formula", ]

[[Car]]
CarID = "car_chieftaintbx"
CarBrand = "pontiac"
CarName = "Pontiac GTO"
CarConfigSuffix = [ "400", "455", "455 Supercharged", ]

[[Car]]
CarID = "car_dctyphoon"
CarBrand = "ac"
CarName = "AC Cobra"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_delraycustom"
CarBrand = "chevrolet"
CarName = "Chevrolet Bel Air"
CarConfigSuffix = [ "", "Super Turbo Fire V8", ]

[[Car]]
CarID = "car_delrayhighroad"
CarBrand = "buick"
CarName = "Buick Roadmaster Estate Wagon"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_delraywinchester"
CarBrand = "buick"
CarName = "Buick Riviera"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_echoscobra"
CarBrand = "dodge"
CarName = "Dodge SRT Viper"
CarConfigSuffix = [ "", "GTS", ]

[[Car]]
CarID = "car_echosimperator"
CarBrand = "dodge"
CarName = "Dodge Challenger"
CarConfigSuffix = [ "", "Mopar Edition", ]

[[Car]]
CarID = "car_edgewoodhellcat"
CarBrand = "oldsmobile"
CarName = "Oldsmobile Cutlass Supreme"
CarConfigSuffix = [ "", "Supercharged", "SX Supercharged", ]

[[Car]]
CarID = "car_edgewoodwildcat"
CarBrand = "oldsmobile"
CarName = "Oldsmobile 442"
CarConfigSuffix = [ "", "Blaze", ]

[[Car]]
CarID = "car_elenticallope"
CarBrand = "renault"
CarName = "Renault Clio"
CarConfigSuffix = [ "V6", "V6 Sport", ]

[[Car]]
CarID = "car_elentiizi"
CarBrand = "renault"
CarName = "Renault Zoe"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_emdenjager"
CarBrand = "volkswagen"
CarName = "Volkswagen Golf (19E)"
CarConfigSuffix = [ "", "Turbo", ]

[[Car]]
CarID = "car_emdenlotz"
CarBrand = "volkswagen"
CarName = "Volkswagen Golf VI"
CarConfigSuffix = [ "", "Turbo", ]

[[Car]]
CarID = "car_fmwpanther"
CarBrand = "bmw"
CarName = "BMW 3 Series (E46)"
CarConfigSuffix = [ "M3 CSL", "M3 CSL Prototype", ]

[[Car]]
CarID = "car_fmwpanthermk1"
CarBrand = "bmw"
CarName = "BMW 3 Series (E36)"
CarConfigSuffix = [ "", "M3", ]

[[Car]]
CarID = "car_fmwroadster"
CarBrand = "bmw"
CarName = "BMW Z4 (E89)"
CarConfigSuffix = [ "Roadster", "sDrive30i", ]

[[Car]]
CarID = "car_fmwsentinel"
CarBrand = "bmw"
CarName = "BMW 5 Series (E34)"
CarConfigSuffix = [ "540i", "535i", "540i M-sport", ]

[[Car]]
CarID = "car_griffintyro"
CarBrand = "mini"
CarName = "MINI Cooper"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_hinatakagurasx"
CarBrand = "mitsubishi"
CarName = "Mitsubishi Lancer Evolution VII"
CarConfigSuffix = [ "", "RS", ]

[[Car]]
CarID = "car_hinatamoon"
CarBrand = "mitsubishi"
CarName = "Mitsubishi Eclipse (Mk4)"
CarConfigSuffix = [ "GS", "GT", ]

[[Car]]
CarID = "car_hinatamoonmk1"
CarBrand = "mitsubishi"
CarName = "Mitsubishi Eclipse (Mk2)"
CarConfigSuffix = [ "RS", "GST", "Special Edition 0Ts", ]

[[Car]]
CarID = "car_katagirikatsumoto"
CarBrand = "honda"
CarName = "Honda Civic (Mk6)"
CarConfigSuffix = [ "DX", "Si", "Street Fighter", ]

[[Car]]
CarID = "car_katagiritamago"
CarBrand = "honda"
CarName = "Honda Civic (Mk5)"
CarConfigSuffix = [ "Si", "SiR", ]

[[Car]]
CarID = "car_lacroixfret"
CarBrand = "peugeot"
CarName = "Peugeot Partner"
CarConfigSuffix = [ "", "Offroad", ]

[[Car]]
CarID = "car_landroverdefender"
CarBrand = "landrover"
CarName = "Land Rover Defender 90"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_landroverdiscovery"
CarBrand = "landrover"
CarName = "Land Rover Discovery"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_landroverevoque"
CarBrand = "landrover"
CarName = "Range Rover Evoque"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_landroversvr"
CarBrand = "landrover"
CarName = "Range Rover Sport SVR"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_lotuselises1"
CarBrand = "lotus"
CarName = "Lotus Elise S1"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_lotusesprits1"
CarBrand = "lotus"
CarName = "Lotus Esprit S1"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_luxorbaronne"
CarBrand = "cadillac"
CarName = "Cadillac Sedan DeVille (Mk5)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_luxorbowen"
CarBrand = "cadillac"
CarName = "Cadillac Coupe DeVille (Mk3)"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_luxorgoldtrail"
CarBrand = "cadillac"
CarName = "Cadillac Eldorado"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_mayenm3"
CarBrand = "audi"
CarName = "Audi S3"
CarConfigSuffix = [ "", "Quattro", "VM Track Pack", ]

[[Car]]
CarID = "car_mayenm6"
CarBrand = "audi"
CarName = "Audi A4 Avant"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_mayenm8"
CarBrand = "audi"
CarName = "Audi A8"
CarConfigSuffix = [ "", "S-Line", ]

[[Car]]
CarID = "car_mazdarx-3"
CarBrand = "mazda"
CarName = "Mazda RX-3"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_mazdarx-7"
CarBrand = "mazda"
CarName = "Mazda RX-7"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_mioveniurs"
CarBrand = "dacia"
CarName = "Dacia Duster"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_morenabizzarini"
CarBrand = "lamborghini"
CarName = "Lamborghini Diablo"
CarConfigSuffix = [ "VT", "GT", ]

[[Car]]
CarID = "car_nissan240z"
CarBrand = "nissan"
CarName = "Nissan Fairlady Z (S30)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_nissan370z"
CarBrand = "nissan"
CarName = "Nissan 370z Nismo"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_nissangtr"
CarBrand = "nissan"
CarName = "Nissan GT-R (R35)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_nissans15silvia"
CarBrand = "nissan"
CarName = "Nissan Silvia (S15)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_olsengrandclub"
CarBrand = "mercedes"
CarName = "Mercedes-Benz GLK"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_olsengtr"
CarBrand = "mercedes"
CarName = "Mercedes-Benz SLS Gullwing"
CarConfigSuffix = [ "", "AMG", ]

[[Car]]
CarID = "car_paganihuayra"
CarBrand = "pagani"
CarName = "Pagani Huayra"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_paganihuayratempesta"
CarBrand = "pagani"
CarName = "Pagani Huayra Tempesta"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_paganizondarevolucion"
CarBrand = "pagani"
CarName = "Pagani Zonda Revolucion"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_porsche964"
CarBrand = "porsche"
CarName = "Porsche 911 Turbo S (964)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_porsche964rs"
CarBrand = "porsche"
CarName = "Porsche 911 RS America (964)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_porsche991"
CarBrand = "porsche"
CarName = "Porsche 911 Carrera 4S (991)"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_porschecarreragt"
CarBrand = "porsche"
CarName = "Porsche Carrera GT"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_ribbsanstarline"
CarBrand = "nissan"
CarName = "Nissan Skyline (R34)"
CarConfigSuffix = [ "", "GT-R", ]

[[Car]]
CarID = "car_ribbsanz530"
CarBrand = "nissan"
CarName = "Nissan 350Z (Z33)"
CarConfigSuffix = [ "", "Nismo", ]

[[Car]]
CarID = "car_rinobianco"
CarBrand = "fiat"
CarName = "Fiat Grande Punto"
CarConfigSuffix = [ "", "Turbo", ]

[[Car]]
CarID = "car_rinopiccolo"
CarBrand = "fiat"
CarName = "Fiat Panda"
CarConfigSuffix = [ "", "MultiEco", ]

[[Car]]
CarID = "car_royalecrown"
CarBrand = "opel"
CarName = "Opel Insignia"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_royaletown"
CarBrand = "opel"
CarName = "Opel Corsa"
CarConfigSuffix = [ "", "Turbo", ]

[[Car]]
CarID = "car_sakuragt20"
CarBrand = "toyota"
CarName = "Toyota 2000GT"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_sakurasupa"
CarBrand = "toyota"
CarName = "Toyota Supra"
CarConfigSuffix = [ "", "Turbocharged", ]

[[Car]]
CarID = "car_sakuratakumi"
CarBrand = "toyota"
CarName = "Toyota Sprinter Trueno"
CarConfigSuffix = [ "SR", "GT", ]

[[Car]]
CarID = "car_sakurayaro"
CarBrand = "toyota"
CarName = "Toyota Yaris"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_salem1500"
CarBrand = "ford"
CarName = "Ford F-100"
CarConfigSuffix = [ "223 I6", "256 V8", ]

[[Car]]
CarID = "car_salemearthquake"
CarBrand = "ford"
CarName = "Ford F-150"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_salemearthquakerex"
CarBrand = "ford"
CarName = "Ford F-150 SVT Raptor"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_salemflamo"
CarBrand = "ford"
CarName = "Ford Pinto"
CarConfigSuffix = [ "", "Runabout", ]

[[Car]]
CarID = "car_salemgw500"
CarBrand = "ford"
CarName = "Ford Focus RS"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_salemkieran"
CarBrand = "ford"
CarName = "Ford Sierra"
CarConfigSuffix = [ "", "FWD Turbo", ]

[[Car]]
CarID = "car_salemoverking"
CarBrand = "ford"
CarName = "Ford Crown Victoria"
CarConfigSuffix = [ "", ]

[[Car]]
CarID = "car_salemspectre"
CarBrand = "ford"
CarName = "Ford Mustang (Mk5)"
CarConfigSuffix = [ "", "GT", ]

[[Car]]
CarID = "car_salemspectrefastback"
CarBrand = "ford"
CarName = "Ford Mustang Fastback (Mk1)"
CarConfigSuffix = [ "", "Supercharged", "Mach 1", "Grande Supercharged", ]

[[Car]]
CarID = "car_sceolx550"
CarBrand = "chrysler"
CarName = "Chrysler 300"
CarConfigSuffix = [ "Touring", "S", "SRT-8", ]

[[Car]]
CarID = "car_sixoncebulion"
CarBrand = "hyundai"
CarName = "Hyundai Tiburon"
CarConfigSuffix = [ "", "GS", ]

[[Car]]
CarID = "car_smithandparkerarizonakid"
CarBrand = "fiat_old"
CarName = "Fiat Topolino Hot Rod"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_smithandparkereliminator"
CarBrand = "ford_old"
CarName = "Ford Model T Hot Rod"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_smithandparkerolddaddyt"
CarBrand = "ford_old"
CarName = "Ford Model T Pickup Hot Rod"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_smithandparkeroutlaw"
CarBrand = "ford_old"
CarName = "Ford Model A Hot Rod"
CarConfigSuffix = [ "", "Supercharged", ]

[[Car]]
CarID = "car_smithandparkerroadster"
CarBrand = "ford_old"
CarName = "Ford Model A Highboy Hot Rod"
CarConfigSuffix = [ "", "Roadster Supercharged", ]

[[Car]]
CarID = "car_tempestmagnum"
CarBrand = "dodge"
CarName = "Dodge Charger Daytona"
CarConfigSuffix = [ "Hemi", "Hemi Supercharged", "Magnum", ]

[[Car]]
CarID = "car_vallsen2040"
CarBrand = "volvo"
CarName = "Volvo 240"
CarConfigSuffix = [ "", "Diesel", ]

[[Car]]
CarID = "car_zephyrlseries"
CarBrand = "lincoln"
CarName = "Lincoln Continental Mark V"
CarConfigSuffix = [ "", ]

[[Car]] #DragRaceDLC
CarID = "car_boltreptiliar6"
CarBrand = "chevrolet"
CarName = "Chevrolet Corvette C8" #Config car manufacturer year 2020
CarConfigSuffix = [ "Stingray", "Hennessey", ]

[[Car]] #DragRaceDLC
CarID = "car_arezzocortona"
CarBrand = "ferrari"
CarName = "Ferrari F50" #Config car manufacturer year 1996
CarConfigSuffix = [ "", "GT", ]

[[Car]] #DragRaceDLC
CarID = "car_hammerdalstrales"
CarBrand = "koenigsegg"
CarName = "Koenigsegg Agera" #Config car manufacturer year 2012
CarConfigSuffix = [ "CCX", "One:1", ]

[[Car]] #DragRaceDLC
CarID = "car_mayent8"
CarBrand = "audi"
CarName = "Audi R8" #Config car manufacturer year 2012
CarConfigSuffix = [ "5.2 FSI coupé", "GT", ]

[[Car]] #ChinaDLC
CarID = "car_jueyuanqianfeng"
CarBrand = "dongfeng"
CarName = "Dongfeng CA71" #Config car manufacturer year 1959
CarConfigSuffix = [ "", ]

[[Car]] #ChinaDLC
CarID = "car_longtengfuyuan"
CarBrand = "hongqi"
CarName = "Hongqi CA770" #Config car manufacturer year 1980
CarConfigSuffix = [ "", ]

[[Car]] #ChinaDLC
CarID = "car_yunbaoyilong"
CarBrand = "shanghai"
CarName = "Shanghai SH1020 SP" #Config car manufacturer year 1992
CarConfigSuffix = [ "", ]

[[Car]] #ChinaDLC
CarID = "car_zhonghuaxiongying"
CarBrand = "beijing"
CarName = "Beijing BJ212" #Config car manufacturer year 1966
CarConfigSuffix = [ "", ]

[[Car]] #TaxiDLC
CarID = "car_boltescapademkiv"
CarBrand = "chevrolet"
CarName = "Chevrolet Caprice"
CarConfigSuffix = [ "Classic", "9C6 Taxi" ]

[[Car]] #TaxiDLC
CarID = "car_cabroamer"
CarBrand = "lti"
CarName = "LTI TX1"
CarConfigSuffix = [ "", "Taxi" ]

[[Car]] #TaxiDLC
CarID = "car_lacroixmarseille"
CarBrand = "peugeot"
CarName = "Peugeot 406"
CarConfigSuffix = [ "ST", "ST Tuned", "ST Tuned Taxi" ]

[[Car]] #TaxiDLC
CarID = "car_linernavigator"
CarBrand = "checker"
CarName = "Checker Marathon"
CarConfigSuffix = [ "", "Taxi" ]

[[Car]] #TaxiDLC
CarID = "car_olsenpramieclub"
CarBrand = "mercedes"
CarName = "Mercedes-Benz E-Klasse"
CarConfigSuffix = [ "320 CDI", "320 CDI Taxi" ]

[[Car]] #TaxiDLC
CarID = "car_sakuratiara"
CarBrand = "toyota"
CarName = "Toyota Crown"
CarConfigSuffix = [ "Sedan Super Saloon", "Taxi" ]