[CMS21ImmersionPlus]
# CMS21 Immersion+ feature switches.

[CMS21ImmersionPlus.Settings]
removeDynoMenuBlur = true
useAuthenticCarNames = true
loadBrandLogosFromMods = true
loadBrandLogosFromTKAftermarket = false
loadTexturesFromFolder = true
preloadAllParkingSceneVehicles = true
showPlayerNameOnShowroomLicencePlates = true
